.h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.light {
  background-color: #f5f5f5;
  color: #222;
  transition: background-color 0.3s ease;
}

.dark {
  background-color: #0f0101;
  color: #f5f5f5;
  transition: background-color 0.3s ease;
}

.boton-tema {
  padding: 10px 20px;
  margin: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.light .boton-tema {
  background-color: #abb1b6;
  color: #050008;
}

.dark .boton-tema {
  background-color: #050008;
  color:  #abb1b6;
}
